.chatcardcontainer {
    position: fixed;
    width: 350px;
    height: 480px;
    background-color: #fff;
    border-radius: 10px 10px 0px 0px;
    box-shadow: rgb(0 0 0 / 15%) 0px 10px 20px;
    bottom: 0px;
    right: 90px;
    z-index: 1000; /* Ensures it’s on top of other elements */
}

.relative {
    position: relative;
    height: 100%;
}

.headercontainer {
    padding: 10px 0px;
}

.chatcardheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chatcardheader h3 {
    margin: 0;
    font-size: 17px;
}

.chatcardheader button {
    border: none;
    background-color: transparent;
    color: rgba(0, 0, 255, 0.651);
    font-size: 25px;
    padding: 0;
}

.chatcardrecipent {
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 15px;
}

.chatcardrecipent label {
    font-size: 1.2rem;
    font-weight: 400;
    margin-right: 10px;
}

.chatcardrecipent input {
    border: none;
    font-size: 1.2rem;
}

.chatcardrecipent input:focus {
    outline: none;
}

.chatcardmain {
    border-top: 1px solid lightgray;
    height: 100%;
    overflow-y: scroll;
}

.suggested {
    box-shadow: rgb(0 0 0 / 15%) 0px 3px 3px;
}

.suggested::after {
    content: '';
    display: block;
    top: 0;
    width: 50%;
    left: 25%;
    border-top: 3px solid rgba(0, 42, 255, 0.66);
}

.suggested h2 {
    font-size: 18px;
    color: rgba(0, 0, 255, 0.618);
    padding: 20px 40px;
}

.friends {
    overflow-y: scroll;
    margin: 15px 10px;
    height: 300px;
}

.firstinteraction {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 20px;
}

.inputpanel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    background-color: #fff;
    bottom: 0;
    color: rgb(0, 125, 242) !important;
    width: 100%;
    padding: 12px 0px;
    font-size: large !important;
}

.inputtextarea {
    width: 160px;
    border-radius: 20px;
    padding-left: 17px;
    height: 40px;
    box-shadow: none !important;
    background-color: rgba(211, 211, 211, 0.558) !important;
}

.inputcomp {
    width: 100px;
}

.msgarea {
    height: 120px;
}
